:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}


body {
    margin: 0;
    background-color: #F0F8FF;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 0.1rem;
  }

/*EXPENSES BASE STYLES*/

.expenses {
  padding: 1.6rem;
  background-color: rgb(31, 31, 31);
  border-radius: 1rem;
  margin: 3.2rem auto;
  width: 80rem;
  max-width: 95%;
}

/*Expenses Item*/

.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 1.2rem;
  background-color: #4b4b4b;
}

.expense-item_description {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1;
}

.expense-item h2 {
  color: #3a3a3a;
  font-size: 1.6rem;
  flex: 1;
  margin: 0 1.6rem;
  color: white;
}

.expense-item_price {
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  background-color: #0000FF;
  /* #40005d */
  border: 1px solid white;
  padding: 0.8rem;
  border-radius: 1.2rem;
}



/*Expenses Date*/

.expenses-date {
  display: flex;
  flex-direction: column;
  width: 6.5rem;
  height: 6.5rem;
  border: 1px solid #ececec;
  background-color: #007FFF;
  /* #a892ee */
  color: white;
  border-radius: 1.2rem;
  align-items: center;
  justify-content: center;
}

.expenses-date_month {
  font-size: 1rem;
  font-weight: bold;
}

.expenses-date_year {
  font-size: 1rem;
}

.expenses-date_day {
  font-size: 2rem;
  font-weight: bold;
}

/*NEW EXPENSE STYLES*/

.new-expense {
  background-color: #007FFF;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-expense button, .set-budget button {
  font: inherit;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #0000FF;
  background-color: #0000FF;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.new-expense button:hover, .set-budget button:hover,
.new-expense button:active, .set-budget button:active {
  background-color: #3F00FF;;
  border-color: #3F00FF;;
}


input:focus {
  outline: 2px solid #220131;
}

.form_control {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.new-expense_control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.new-expense_control input, .set-budget input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.new-expense_actions {
  text-align: left;
}


/*Expenses Filter*/

.expenses-filter {
  border-bottom: 1px solid #007FFF;
  color: white;
  padding: 0 1.6rem;
  display: flex;
  justify-content: space-between;
}

.expenses-filter_control {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 1.6rem 0;
}

.expenses-filter label {
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.expenses-filter select {
  font: 1.6rem;
  color: #007FFF;
  padding: 0.8rem 4.8rem;
  font-weight: bold;
  border-radius: 6px;
}

.expenses-filter select:focus {
  outline: none;
}

/*Expenses List*/

.expenses-list {
  list-style: none;
  padding: 0;
}

.expenses-list_fallback {
  color: white;
  text-align: center;
}

/*CHART STYLES*/

.chart {
  padding: 1.4rem;
  border-radius: 1.2rem;
  background-color: #f8dfff;
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 10rem;
}

/*Chart Bar*/

.chart-bar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-bar_inner {
  height: 100%;
  width: 100%;
  border: 1px solid #313131;
  border-radius: 1.2rem;
  background-color: #c3b4f3;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chart-bar_fill {
  background-color: #3F00FF;
  width: 100%;
  transition: all 0.3s ease-out;
}

.chart-bar_label {
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
}

/*Set Budget*/

.set-budget {
  display: flex;
  justify-content: center;
  padding-block: 2rem;
  gap: 5rem;
  color: white;
  font-size: 1.4rem
}

.set-budget label {
  display: inline-block;
  margin-bottom: 1rem;
  margin-inline-end: 1.5rem;
  font-weight: bold;
}


@media (min-width: 580px) {

  .expense-item_description {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .expense-item_description h2 {
    font-size: 2rem;
  }

  .expense-item_price {
    font-size: 2rem;
    padding: 0.8rem 2.4rem;
  }
}
